@{
    ViewData["Title"] = "Home Page";
}
<div id="app-root">
    <v-app>
    <router-view>
        <h1 class="underline">Loading... </h1>
    </router-view>
    </v-app>
</div>

@section Scripts{ 
    <script src="~/dist/main.js"></script>
}