@{
    ViewData["Title"] = "Home Page";
}

<div>Home</div>
<div id="app-root">
    <router-view>
        <h1 class="underline">Loading... </h1>
    </router-view>
</div>

@section Scripts{ 
    <script src="~/dist/main.js"></script>
}