################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VuePlanning/obj
/.vs
/VuePlanning/node_modules
/VuePlanning/bin/Debug/netcoreapp2.1
