################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VuePlanning/obj
/VuePlanning/wwwroot
/.vs
/VuePlanning/node_modules
/VuePlanning/bin/Debug/netcoreapp2.1
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
